spl
tags
lex.yy.c
y.tab.c
y.tab.h
*~
*.xsm
*.temp
*.o
spl_progs/

xfs-interface
run.sh
disk.xfs
*.dat
*~
*.o
*.xsm
*.txt
*.tmp
*.dSYM
temp*
test
inodetable.txt
rootfile.txt
tags

*~
.DS_Store
*.o
xsm
lex.yy.c
mem


